@page
@model Crowdfunding.Areas.Identity.Pages.Account.Manage.MyBonusesModel
@{
    ViewData["Title"] = "My Bonuses";
    ViewData["ActivePage"] = ManageNavPages.MyBonuses;
}




<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Bonus Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Company Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.CurrentUserBonuses)
                {
                    @for (int i = 0; i < item.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Bonus.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Bonus.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Bonus.Description)
                            </td>
                            <td>
                                @if (item.Bonus.Company != null)
                                {
                                    <a asp-action="Details" asp-controller="Companies" asp-route-id="@item.Bonus.CompanyId"> @item.Bonus.Company.Name </a>
                                }
                                else
                                {

                                    <span>company removed</span>
                                }

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>