@model Crowdfunding.Controllers.ModelStartPage
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/main_page.css" />
<div class="text-center">
    <h1 class="display-3">Welcome</h1>        
</div>

<ul class="tags-list">
    @foreach (var tag in ViewBag.Tags)
    {
        <li><a asp-action="GetViewByTag" asp-controller="Companies" asp-route-tagName="@tag">@tag</a></li>
    }    
</ul>

<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <h1 class="display-4"> The newest </h1>
        </div>
        @foreach(var comp in Model.topNew)
        {
            <div class="container border company" data-request-url="@Url.Action("Details", "Companies", new { id=comp.Id})">
                <div class="row"  >
                    <div class="col-md-6">
                        <img src=@comp.Images.FirstOrDefault().Link style="max-width:250px;height:140px; margin-bottom:1rem; margin-top:1rem;">
                    </div>
                    <div class="col-md-6">
                        <p>@comp.Name <span class="badge badge-warning">@comp.AverageRating</span></p>
                        <p>@comp.Category.Name</p>
                        <p>@comp.CurrentMoney / @comp.TargetMoney</p>
                        
                    </div>
                </div>
            </div>            
        }
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h1 class="display-4"> The best </h1>
        </div>
        @foreach (var comp in Model.topRate)
        {
            <div class="container border company" data-request-url="@Url.Action("Details", "Companies", new { id=comp.Id})">
                <div class="row">
                    <div class="col-md-6">
                        <img src=@comp.Images.FirstOrDefault().Link style="max-width:250px;height:140px; margin-bottom:1rem; margin-top:1rem;">
                    </div>
                    <div class="col-md-6">
                        <p>@comp.Name <span class="badge badge-warning">@comp.AverageRating</span></p>
                        <p>@comp.Category.Name</p>
                        <p>@comp.CurrentMoney / @comp.TargetMoney</p>      
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts{ 

<script>
    $(".company").on("click", function () {
        window.location.href = $(this).attr("data-request-url");
    })
</script>

}