@model Crowdfunding.Models.Company

<link rel="stylesheet" href="~/css/tab.css" />
<link rel="stylesheet" href="~/css/Comments.css" />
<link rel="stylesheet" href="~/css/gallery.css" />
<link rel="stylesheet" href="~/lib/ckeditor/plugins/easyimage/styles/easyimage.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<input type="hidden" value="@User.Identity.Name" id="currentUser" />
<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <div class="row">
        <div class="col-6">

            <div class="slideshow-container">
                <div class="mySlides">
                    <iframe width="560" height="315" src="@Model.YoutubeSrc?enablejsapi=1&" frameborder="0" allow="accelerometer;
                            autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="youtube">
                    </iframe>
                </div>

                @foreach (var img in Model.Images)
                {
                    <!-- Full-width images with number and caption text -->
                    <div class="mySlides">
                        <img src=@img.Link style="max-width: 560px; height: 315px;">
                    </div>
                }

                <!-- Next and previous buttons -->
                <a class="prev" data-val=-1>&#10094;</a>
                <a class="next" data-val=1>&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                @for (var i = 0; i < Model.Images.Count + 1; i++)
                {
                    <span class="dot" id="dot_@i"></span>
                }
            </div>

        </div>

        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.Category)
                </div>
                <div class="col-8">
                    <a asp-action="GetViewByCategory" asp-route-categoryName="@Model.Category.Name">@Model.Category.Name</a>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    Rating:
                </div>
                <div class="col-8">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @for (var i = 0; i < 5; i++)
                        {
                            if (i < ViewBag.UserRating)
                            {
                                <span class="fa fa-star starCheck" data-val=@i></span>
                            }
                            else
                            {
                                <span class="fa fa-star" data-val=@i></span>
                            }

                        }
                    }
                    <span class="badge badge-warning" id="companyRating">@ViewBag.AverageRating</span>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    Tags:
                </div>
                <div class="col-8">
                    @foreach (var tag in Model.CompanyTags)
                    {
                        <span> @tag.Tag.Name </span>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.CurrentMoney)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.CurrentMoney)
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.TargetMoney)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.TargetMoney)
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.EndDate)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.EndDate)
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.CustomUser)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.CustomUser.UserName)
                </div>
            </div>
            <form asp-controller="Bonus" asp-action="Index" asp-route-companyId="@Model.Id">
                <button class="btn btn-sm btn-primary">Support</button>
            </form>
            <div>
                <a asp-action="AllCompanies">Back to List</a>
                @if (User.Identity.Name == Model.CustomUser.UserName || User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id"> | Edit </a>
                    <a asp-controller="Bonus" asp-action="Create" asp-route-companyId="@Model.Id">| Create New Bonus |</a>
                    <a asp-controller="Bonus" asp-action="Index" asp-route-companyId="@Model.Id">View Bonuses</a>
                }

            </div>
        </div>
    </div>
</div>

<div class="tab">
    <button class="tablinks" value="DescriptionSection">Description</button>
    <button class="tablinks" value="NewsSection">News</button>
    <button class="tablinks" value="CommentsSection" id="defaultTab">Comments</button>
</div>

<div id="DescriptionSection" class="tabcontent">
    <div class="container">
        @Html.Raw(Model.Description)
    </div>
</div>

<div id="NewsSection" class="tabcontent">
    @if (User.Identity.Name == Model.CustomUser.UserName || User.IsInRole("Admin"))
    {
        <button class="btn btn-sm btn-primary" id="createNews">Create News</button>
        <div class="container hiddenNews" id="divNews">
            <textarea id="newsText"></textarea>
            <button class="btn btn-sm btn-primary" id="newsBtn">Publish</button>
        </div>
        <hr id="startNews" />


    }
    @foreach (var news in Model.News)
    {
        <div id="@news.Id">
            @if (User.Identity.Name == Model.CustomUser.UserName || User.IsInRole("Admin"))
            {
                <button class="btn btn-sm btn-primary editNews">Edit</button>
                <button class="btn btn-sm btn-primary deleteNews">Delete</button>
                <hr />
            }
            <div class="container ">
                @Html.Raw(news.Content)
            </div>
            <hr class="news" />
        </div>
    }
</div>

<div id="CommentsSection" class="tabcontent">
    <input type="text" hidden value="@User.Identity.Name" id="userName" />
    <input type="text" hidden value="@Model.Id" id="companyId" />

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row" id="divInput">
            <div class="col-10">
                <textarea class="form-control" id="inputComment" placeholder="Leave a comment"></textarea>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" id="btnSend">Send</button>
            </div>
        </div>        
    }

    <div class="container">
        <div class="comments">
            <h3 class="title-comments">Comments</h3>
            <ul class="media-list" id="commentsBoard">
                @foreach (var comment in ViewBag.Comments)
                {
                    <li class="media">
                        <div class="media-body">
                            <div class="media-heading">
                                <div class="author">@comment.UserName</div>
                                <div class="metadata">
                                    <span class="date">@comment.Date</span>
                                </div>
                            </div>
                            <div class="media-text text-justify">@comment.Message</div>
                            <hr>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>





@section Scripts {
    <script>
        //tablets
        $(".tablinks").on("click", function (event) {
            $(".tabcontent").hide();
            $("#" + event.target.getAttribute("value")).fadeIn(1000);
        })
        $("#defaultTab").trigger("click");
    </script>

    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>

    <script>
        //Comments

        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/companies/index").build();

        hubConnection.on("Send", function (message, userName, companyId, dateTime) {
            if (companyId != $("#companyId").val()) { return }
            CreateComment(message, userName, dateTime);
        })

        $("#btnSend").on("click", function () {
            hubConnection.invoke("Send", $("#inputComment").val(), $("#userName").val(),
                $("#companyId").val(), GetCurrentTime());
            $("#inputComment").val("");
        })

        hubConnection.start();

        function GetCurrentTime() {
            let
                now = new Date(),
                date = now.getDate(),
                month = now.getMonth(),
                year = now.getFullYear(),
                hour = now.getHours(),
                minute = now.getMinutes(),
                second = now.getSeconds();

            minute = (minute < 10) ? '0' + minute : minute;
            second = (second < 10) ? '0' + second : second;
            hour = (hour < 10) ? '0' + hour : hour;
            return (date + "." + month + "." + year + "  " + hour + ":" + minute + ":" + second);
        }

        function CreateComment(message, userName, dateTime) {
            $("<li class='media'>" +
                "<div class='media-body'>" +
                "<div class='media-heading'>" +
                "<div class='author'>" + userName + "</div>" +
                "<div class='metadata'>" +
                "<span class='date'>" + dateTime + "</span>" +
                "</div>" +
                "</div>" +
                "<div class='media-text text-justify'>" + message + "</div>" +
                "<hr>" +
                "</div>" +
                "</li>").prependTo($("#commentsBoard")).hide().fadeIn(1000);
        }
    </script>



    <script>
        //News
        $(document).ready(function () {

            let editor_config = {
                extraPlugins: 'easyimage',
                language: 'en',
                removePlugins: 'image, sourcearea',
                removeDialogTabs: 'link:advanced',
                height: 600,
                width: 1000,
                cloudServices_uploadUrl: 'https://33333.cke-cs.com/easyimage/upload/',
                // Note: this is a token endpoint to be used for CKEditor 4 samples only. Images uploaded using this token may be deleted automatically at any moment.
                // To create your own token URL please visit https://ckeditor.com/ckeditor-cloud-services/.
                cloudServices_tokenUrl: 'https://33333.cke-cs.com/token/dev/ijrDsqFix838Gh3wGO3F77FSW94BwcLXprJ4APSp3XQ26xsUHTi0jcb1hoBt',
                easyimage_toolbar: [
                    'EasyImageFull',
                    'EasyImageAlt'
                ]
            };
            if ($("#newsText").length) {
                CKEDITOR.replace('newsText', editor_config);
            }

            $("#newsBtn").on("click", function () {
                let news = { "CompanyId": @Model.Id, "Content": CKEDITOR.instances.newsText.getData() };

                $.ajax({
                    type: "POST",
                    url: "/Companies/PublicationNews",
                    data: JSON.stringify(news),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (id) {
                        $('<div id="' + id.newsId + '">' +
                            '<button class= "btn btn-sm btn-primary editNews" >Edit</button> ' +
                            '<button class="btn btn-sm btn-primary deleteNews">Delete</button> <hr/>' +
                            '<div class="container">' +
                            CKEDITOR.instances.newsText.getData() +
                            '</div> <hr class="news"/></div>').insertAfter("#startNews").hide().fadeIn();
                    }
                });
                $("#divNews").toggleClass("hiddenNews");
            });

            $("#createNews").on("click", function () {
                $("#divNews").toggleClass("hiddenNews");
            })

            $("body").on("click", ".deleteNews", function () {
                let isDelete = confirm("Are you sure?");
                if (isDelete == false) { return }
                let newsId = $(this).parent().attr("id");
                $.ajax({
                    type: "POST",
                    url: "/Companies/DeleteNews",
                    data: JSON.stringify(newsId),
                    contentType: "application/json",
                    dataType: "json"
                });
                $(this).parent().remove();
            })

            $("body").on("click", ".editNews", function () {

                $('<div>' +
                    '<textarea id="editNewsTextarea' + $(this).parent().attr("id") + '" >' +
                    $(this).siblings("div").html() +
                    '</textarea>' +
                    '<button class="btn btn-sm btn-primary acceptEdit">Accept</button>  ' +
                    '<button class="btn btn-sm btn-primary cancelEdit">Cancel</button><hr/></div>').insertAfter($(this).parent());

                CKEDITOR.replace('editNewsTextarea' + $(this).parent().attr("id"), editor_config);
                $(this).parent().hide();
            })

            $("body").on("click", ".cancelEdit", function () {
                newsId = $(this).siblings("textarea").attr('id').replace('editNewsTextarea', '');
                $(this).parent().remove();
                $("#" + newsId).show();
            })

            $("body").on("click", ".acceptEdit", function () {
                let newsId = $(this).siblings("textarea").attr('id').replace('editNewsTextarea', '');
                let textareaId = $(this).siblings("textarea").attr('id');
                let news = { "Id": parseInt(newsId), "CompanyId": @Model.Id, "Content": CKEDITOR.instances[textareaId].getData() };
                $.ajax({
                    type: 'POST',
                    url: "/Companies/UpdateNews",
                    data: JSON.stringify(news),
                    contentType: "application/json",
                    dataType: "json"
                });
                $("#" + newsId).children('div').html(CKEDITOR.instances[textareaId].getData());
                $("#" + newsId).show();
                $("#" + textareaId).parent().remove();
            })
        })



    </script>

    <script>
        //gallery

        $(document).ready(function () {
            let activeSlide = 0;
            showSlide(activeSlide);
            function showSlide(i) {
                document.getElementById("youtube").contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
                $(".mySlides:eq(" + i + ")").fadeIn();
                $(".mySlides:eq(" + i + ")").addClass("activeSlide");
                $(".activeDot").removeClass("activeDot");
                $(".dot:eq(" + i + ")").addClass("activeDot");
            }
            $(".next, .prev").on("click", function () {
                $(".activeSlide:first").hide().removeClass("activeSlide");
                activeSlide += Number($(this).attr("data-val"));
                if (activeSlide > $(".mySlides").length - 1) {
                    activeSlide = 0;
                }
                if (activeSlide < 0) {
                    activeSlide = $(".mySlides").length - 1;
                }
                showSlide(activeSlide);
            })
            $(".dot").on("click", function () {
                $(".activeSlide:first").hide().removeClass("activeSlide");
                activeSlide = Number($(this).attr("id").split("_")[1]);
                showSlide(activeSlide);
            })
        })

    </script>

    <script>
        //rating
        $(document).ready(function () {
            $(".fa-star").on("click", function () {
                $(this).prevAll().addClass('starCheck');
                $(this).addClass('starCheck');
                $(this).nextAll(".starCheck").removeClass("starCheck");
                let rating = { "CompanyId": @Model.Id, "Value": Number($(this).attr("data-val")) + 1, "UserName": $("#currentUser").val() }
                console.log(rating);
                $.ajax({
                    type: "POST",
                    url: "/Companies/Rate",
                    data: JSON.stringify(rating),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (responce) {
                        $("#companyRating").text(responce.companyRating)
                    }
                });
            })
            $('.fa-star').hover(
                function () {
                    $(this).prevAll().addClass('starHover');
                    $(this).addClass('starHover');
                },
                function () {
                    $(this).prevAll().removeClass('starHover');
                    $(this).removeClass('starHover');
                }
            )

        })
    </script>
}
