@model Crowdfunding.Models.Company

<link rel="stylesheet" href="~/css/tab.css" />

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="@ViewBag.Youtube" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.Category)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.Category.Name)
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.CurrentMoney)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.CurrentMoney)
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.TargetMoney)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.TargetMoney)
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.EndDate)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.EndDate)
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.CustomUser)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.CustomUser.UserName)
                </div>
            </div>
            <form asp-controller="Bonus" asp-action="Index" asp-route-companyId="@Model.Id">
                <button class="btn btn-sm btn-primary">Support</button>
            </form>
            <div>
                <a asp-action="AllCompanies">Back to List</a>
                @if (User.Identity.Name == Model.CustomUser.UserName || User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id"> | Edit </a>
                    <a asp-controller="Bonus" asp-action="Create" asp-route-companyId="@Model.Id">| Create New Bonus |</a>
                    <a asp-controller="Bonus" asp-action="Index" asp-route-companyId="@Model.Id">View Bonuses</a>
                }

            </div>
        </div>
    </div>
</div>

<div class="tab">
    <button class="tablinks" onclick="OpenSection('DescriptionSection')" id="defaultOpen">Description</button>
    <button class="tablinks" onclick="OpenSection('NewsSection')">News</button>
    <button class="tablinks" onclick="OpenSection('CommentsSection')">Comments</button>
</div>

<!-- Tab content -->
<div id="DescriptionSection" class="tabcontent">
    <h3>Desctiption</h3>
    <p>@Model.Description</p>
</div>

<div id="NewsSection" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p>
</div>

<div id="CommentsSection" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
</div>

<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
    <li><a data-toggle="pill" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Some content.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Some content in menu 2.</p>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("defaultOpen").click();
        function OpenSection(id) {
            var allSection = document.querySelectorAll(".tabcontent");
            for (var elem of allSection) {
                elem.style.display = "none";
            }
            var section = document.getElementById(id);
            section.style.display = "block";
        }
    </script>


}