@model Crowdfunding.Models.Company

<link rel="stylesheet" href="~/css/tab.css" />
<link rel="stylesheet" href="~/css/Comments.css" />
<link rel="stylesheet" href="~/css/gallery.css" />

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <div class="row">
        <div class="col-6">

            <div class="slideshow-container">
                <div class="mySlides">
                    <iframe width="560" height="315" src="@ViewBag.Youtube?enablejsapi=1&" frameborder="0" allow="accelerometer; 
                            autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="youtube">
                    </iframe>
                </div>

                @foreach (var img in Model.Images)
                {
                    <!-- Full-width images with number and caption text -->
                    <div class="mySlides">
                        <img src=@img.Link style="width:100%">
                    </div>
                }

                <!-- Next and previous buttons -->
                <a class="prev" data-val=-1>&#10094;</a>
                <a class="next" data-val=1>&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                @for (var i = 0; i < Model.Images.Count + 1; i++)
                {
                    <span class="dot" id = "dot_@i"></span>
                }
            </div>

        </div>

        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.Category)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.Category.Name)
                </div>
            </div>
            
            <div class="row">
                <div class="col-4">
                        Tags:
                </div>
                <div class="col-8">
                    @foreach(var tag in Model.CompanyTags)
                    {
                       <span> @tag.Tag.Name </span>    
                    }
                </div>
            </div>
            
            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.CurrentMoney)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.CurrentMoney)
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.TargetMoney)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.TargetMoney)
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.EndDate)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.EndDate)
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    @Html.DisplayNameFor(model => model.CustomUser)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.CustomUser.UserName)
                </div>
            </div>
            <form asp-controller="Bonus" asp-action="Index" asp-route-companyId="@Model.Id">
                <button class="btn btn-sm btn-primary">Support</button>
            </form>
            <div>
                <a asp-action="AllCompanies">Back to List</a>
                @if (User.Identity.Name == Model.CustomUser.UserName || User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id"> | Edit </a>
                    <a asp-controller="Bonus" asp-action="Create" asp-route-companyId="@Model.Id">| Create New Bonus |</a>
                    <a asp-controller="Bonus" asp-action="Index" asp-route-companyId="@Model.Id">View Bonuses</a>
                }

            </div>
        </div>
    </div>
</div>

<div class="tab">
    <button class="tablinks" value="DescriptionSection">Description</button>
    <button class="tablinks" value="NewsSection">News</button>
    <button class="tablinks" value="CommentsSection" id="defaultTab">Comments</button>
</div>

<div id="DescriptionSection" class="tabcontent">
    <h3>Desctiption</h3>
    <p>@Model.Description</p>
</div>

<div id="NewsSection" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p>
</div>

<div id="CommentsSection" class="tabcontent">    
    <input type="text" hidden value="@User.Identity.Name" id="userName" />
    <input type="text" hidden value="@Model.Id" id="companyId" />

    <div class="row" id="divInput" >        
        <div class="col-10">
            <textarea class="form-control" id="inputComment" placeholder="Leave a comment" ></textarea>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" id="btnSend">Send</button>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="comments">
            <h3 class="title-comments">Comments</h3>
            <ul class="media-list" id="commentsBoard">
                @foreach (var comment in ViewBag.Comments)
                {
                    <li class="media">
                        <div class="media-body">
                            <div class="media-heading">
                                <div class="author">@comment.UserName</div>
                                <div class="metadata">
                                    <span class="date">@comment.Date</span>
                                </div>
                            </div>
                            <div class="media-text text-justify" >@comment.Message</div>
                            <hr>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>





@section Scripts {
    <script>
        //tablets
        $(".tablinks").on("click", function (event) {
            $(".tabcontent").hide();
            $("#" + event.target.getAttribute("value")).fadeIn(1000);
        })
        $("#defaultTab").trigger("click");
    </script>

    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>

    <script>
        //Comments
        
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/companies/index").build();

        hubConnection.on("Send", function (message, userName, companyId, dateTime) {
            if (companyId != $("#companyId").val()) { return }
            CreateComment(message, userName, dateTime);            
        })

        $("#btnSend").on("click", function () {
            hubConnection.invoke("Send", $("#inputComment").val(), $("#userName").val(),
                $("#companyId").val(), GetCurrentTime());
            $("#inputComment").val("");
        })

        hubConnection.start();

        function GetCurrentTime() {
            let
                now = new Date(),
                date = now.getDate(),
                month = now.getMonth(),
                year = now.getFullYear(),
                hour = now.getHours(),
                minute = now.getMinutes(),
                second = now.getSeconds();

            minute = (minute < 10) ? '0' + minute : minute;
            second = (second < 10) ? '0' + second : second;
            hour = (hour < 10) ? '0' + hour : hour;
            return (date + "." + month + "." + year + "  " + hour + ":" + minute + ":" + second);
        }

        function CreateComment(message, userName, dateTime) {
            $("<li class='media'>" +
                "<div class='media-body'>" +
                "<div class='media-heading'>" +
                "<div class='author'>" + userName + "</div>" +
                "<div class='metadata'>" +
                "<span class='date'>" + dateTime + "</span>" +
                "</div>" +
                "</div>" +
                "<div class='media-text text-justify'>" + message + "</div>" +
                "<hr>" +
                "</div>" +
                "</li>").prependTo($("#commentsBoard")).hide().fadeIn(1000);
        }
    </script>

    <script>     
        //gallery
        $(document).ready(function () {
            let activeSlide = 0;
            showSlide(activeSlide);
            function showSlide(i) {
                document.getElementById("youtube").contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
                $(".mySlides:eq(" + i + ")").fadeIn();
                $(".mySlides:eq(" + i + ")").addClass("activeSlide");
                $(".activeDot").removeClass("activeDot");
                $(".dot:eq(" + i + ")").addClass("activeDot");
            }
            $(".next, .prev").on("click", function () {
                $(".activeSlide:first").hide().removeClass("activeSlide");
                activeSlide += Number($(this).attr("data-val"));
                if (activeSlide > $(".mySlides").length - 1) {
                    activeSlide = 0;
                }
                if (activeSlide < 0) {
                    activeSlide = $(".mySlides").length - 1;
                }                
                showSlide(activeSlide);                
            })
            $(".dot").on("click", function () {
                $(".activeSlide:first").hide().removeClass("activeSlide");
                activeSlide = Number($(this).attr("id").split("_")[1]);
                showSlide(activeSlide);                               
            })        
        })
       
    </script>
}
