@model IEnumerable<Crowdfunding.Models.Company>


<link rel="stylesheet" href="~/css/main_page.css" />


<div class="text-center">
    <h1 class="display-4"> @ViewBag.Tag </h1>
</div>
<div class="row">
    @foreach (var comp in Model)
    {
        <div class="col-6">
            <div class="container border company" data-request-url="@Url.Action("Details", "Companies", new { id=comp.Id})">
                <div class="row">
                    <div class="col-md-6">
                        <img src=@comp.Images.FirstOrDefault().Link style="max-width:250px;height:140px; margin-bottom:1rem; margin-top:1rem;">
                    </div>
                    <div class="col-md-6">
                        <p>@comp.Name</p>
                        <p>@comp.Category.Name</p>
                        <p>@comp.CurrentMoney / @comp.TargetMoney</p>
                    </div>
                </div>
            </div>
        </div>
        
    }
</div>



@section Scripts{ 
    <script>
        $(".company").on("click", function () {
            window.location.href = $(this).attr("data-request-url");
        })
    </script>
}